body, html {margin: 0; height: 100%; width: 100%; font-family:'Anaheim'}

/* NAVBAR */
.km-ios7 .km-navbar .km-view-title,
.km-tablet .km-ios .km-navbar .km-view-title {
    color: #007aff;
    text-shadow: null;
}
.km-ios7 .km-navbar,
.km-tablet .km-ios .km-navbar {
    background:#e9e9e9;
    border-bottom:1px solid #aeaba6;
    border-radius:5px 5px 0px 0px;
} 

.km-ios7 .km-tabstrip,
.km-tablet .km-ios .km-tabstrip {
    background:#e9e9e9;
    border-top:1px solid #aeaba6;
    border-radius:0px 0px 5px 5px;
} 
    
/* BUTTONS */ 
.km-ios7 .km-button,
.km-tablet .km-ios .km-button{background:#e9e9e9; color:#FFF; border-radius:5px;}
a.modal1xBtn.km-widget.km-button {background:#FFF; border:transparent; width:185px; margin-left:-20px;} 
a.modal1xBtn.km-widget.km-button span.km-text{font-size:large;}
a.modal1xBtnIco.km-widget.km-button {width:50px;background:#FFF; border:transparent;font-size:large;}

/* ICONS */
/* Tab Strip */
.km-tsLocateMeIcon:before, .km-tsLocateMeIcon:after { content: "\e0b4"; margin-top:-2px;}
.km-tsMenuIcon:before, .km-tsMenuIcon:after { content: "\e0f1"; margin-top:-3px;}
.km-tsSearch:before, .km-tsSearch:after { content: "\e21e"; margin-top:2px; font-size:.8em;}
.km-tsSearchNow:before, .km-tsSearchNow:after { content: "\e21e"; margin-top:2px; margin-right:20px;font-size:.8em;}
.km-tsCloseMenu:before, .km-tsCloseMenu:after { content: "\e0b2"; margin-top:-3px;}

.km-popupCall:before, .km-popupCall:after { content: "\e326"; margin-top:0px; font-size:.8em;}
.km-popupNav:before, .km-popupNav:after { content: "\e0bb"; margin-top:-3px;}
.km-popupFav:before, .km-popupFav:after { content: "\e0d7"; margin-top:-3px;}
.km-popupClear:before, .km-popupClear:after { content: "\e321"; margin-top:0px; font-size:.8em;}

/* Header */
.km-headerLayersIcon:before, .km-headerLayersIcon:after { content: "\e220"; margin-top:3px; color:#007aff;}
/* Menu Page */
a.menuButton.km-widget.km-button {background:#FFF; border:transparent; width:145px; height:75px; margin-top:10px;} 
a.menuButton.km-widget.km-button span.km-text{font-size:small; text-align:center; margin-left:auto; margin-right:auto; line-height:75px; color:#909090;}
.km-menuResetData:before, .km-menuResetData:after { content: "\e01d"; font-size:xx-large; margin-top:-40px; margin-left:50px; color:#909090}
.km-menuHomeLocation:before, .km-menuHomeLocation:after { content: "\e049"; font-size:xx-large; margin-top:-40px; margin-left:50px; color:#909090}
.km-menuAutoZoom:before, .km-menuAutoZoom:after { content: "\e080"; font-size:xx-large; margin-top:-40px; margin-left:50px; color:#909090}
.km-menuHUD:before, .km-menuHUD:after { content: "\e0be"; font-size:xx-large; margin-top:-40px; margin-left:50px; color:#909090}
.km-menuUnits:before, .km-menuUnits:after { content: "\e104"; font-size:xx-large; margin-top:-40px; margin-left:50px; color:#909090}
.km-menuNavSettings:before, .km-menuNavSettings:after { content: "\e077"; font-size:xx-large; margin-top:-40px; margin-left:50px; color:#909090}
.km-menuTTS:before, .km-menuTTS:after { content: "\e224"; font-size:xx-large; margin-top:-40px; margin-left:50px; color:#909090}
/* Modal Page */
.km-modalClose:before, .km-modalClose:after { content: "\e031"; margin-top:0px; margin-left:-5px; color:#4a4a4a;font-size:1.1em;}


/* Switches */
.km-switch-on .km-switch-container{
    background-color: rgb(0, 200, 0);
}

.km-list input[type=checkbox].coffee .km-switch-on .km-list input[type=checkbox].coffee .km-switch-container{
    background-color: rgb(200, 200, 0);
}



/*
.km-drawer-button:before, .km-drawer-button:after  { content: "\e20f"; color:#007aff; margin-top:3px;}
.km-gpsSearch:before, .km-gpsSearch:after { content: "\e21e"; margin-top:2px; font-size:.8em;}
.km-gpsLocate:before, .km-gpsLocate:after { content: "\e0b4"; margin-top:3px;margin-Left:0px; }
.km-gpsMenu:before, .km-gpsMenu:after { content: "\e0f1"; margin-top:-3px;}
.km-gpsLayers:before, .km-gpsLayers:after { content: "\e220"; margin-top:-3px;}
.km-menuGPS:before, .km-menuGPS:after { content: "\e0db"; margin-top:3px; }
.km-menuCheck:before, .km-menuCheck:after { content: "\e030"; margin-top:3px; }
.km-searchGoBack:before, .km-searchGoBack:after { content: "\e013"; margin-top:-10px; margin-left:-10px; font-size:1.3em;}
.km-searchSearchBtn:before, .km-searchSearchBtn:after { content: "\e21e"; margin-top:2px; margin-right:20px;font-size:.8em;}





.km-menuGas:before, .km-menuGas:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuHotel:before, .km-menuHotel:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; } 
.km-menuPharmacy:before, .km-menuPharmacy:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuService:before, .km-menuService:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuMuseum:before, .km-menuMuseum:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuMovie:before, .km-menuMovie:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuPostOffice:before, .km-menuPostOffice:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuPolice:before, .km-menuPolice:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuParking:before, .km-menuParking:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuBank:before, .km-menuBank:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuBar:before, .km-menuBar:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuCoffee:before, .km-menuCoffee:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuFood:before, .km-menuFood:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuHospital:before, .km-menuHospital:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuShopping:before, .km-menuShopping:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuTraffic:before, .km-menuTraffic:after { content: "\e03d"; margin-top:-2px; font-size:xx-large; }
.km-menuClear:before, .km-menuClear:after { content: "\e03d"; margin-top:-2px; font-size:xx-large;}
.km-menuZoom:before, .km-menuZoom:after { content: "\e03d"; margin-top:-2px; margin-left:3px; font-size:xx-large; }
.km-menuHome:before, .km-menuHome:after { content: "\e03d"; margin-top:-2px; margin-left:5px; font-size:x-large; }
*/

.hud {background:rgba(233,233,233,.8); width:100%; height:50px;}
.largeHUDText {font-size:1.9em;}
.smallHUDText {}
.km-hudIcon:after, .km-hudIcon:before {content: "\e0bb"; color:#aeaba6; font-size:2.5em}

/* RETINA DISPLAY STYLES*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .img {
        background-image: url(../styles/images/appbuilder2x.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }


}


.bubbleResult{
	  color:black;
	  background:white;
	  border: 1px solid black;
	  padding:0px;	
}